@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');

body {
  font-family: 'Swanky and Moo Moo', cursive;
  /* background-image: url("https://imgur.com/uEWrIXl.png"); */
  background-color: rgb(82, 116, 109);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* margin: 0; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */